*{
    font-family: Arial, Helvetica, sans-serif;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.contenedor{
    min-height: 400px;
    background-color: #697070;
    /*max-width: 400px;*/
    display: flex;
    
    /*Horizontal*/
    /*justify-content: center;*/
    justify-content: space-around;
    /*Vertical*/
    align-items: center;

    flex-wrap: wrap;
}

.centrado{
    text-align: center;
}

.elemento{
    height: 200px;
    width: 200px;
    background-color: #911a3c;
    border-color: #fff;
    border-width: 5px;
    border-style: solid;
}