html {
  background: #ddd;
  height: 100%;
  display: flex;
}

body {
  width: 100%;
  margin: auto;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.todo-list {
  background: #fff;
  font-size: 18px;
  max-width: 300px;
  margin: auto;
  margin-bottom: 24px;
  padding: 8px 16px;
  box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
// https://www.google.com/search?q=color+picker&oq=color+picke&aqs=chrome.0.0i433i512j69i57j0i512l8.2525j0j7&sourceid=chrome&ie=UTF-8

$colorRosa: #8f1191;
$colorHover: #ef4bf2;

@mixin button ($class, $color, $colorHover) {
  .button.#{$class}{background: $color;}
  .button.#{$class}:hover{background: $colorHover;}
  .button.#{$class}:active{background: $color;}
}

.button {
  outline: none;
  padding: 8px;
  border: 1px solid white;
  border-radius: 15px;
}

@include button ('pink', $colorRosa, $colorHover)