body {
    background-color: #333;
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

#form {
    background-color: #333;
    color:aliceblue;
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#form > button {
    background: #efefef;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #333;
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

input:focus {
    outline: none;
}

#mensajes {
    list-style-type: none; margin: 0; padding: 0;
}

#mensajes > li {
    padding: 0.5rem 1rem;
    background-color: aquamarine;
}

#mensajes > li:nth-child(odd){
    background: #efefef;
}
