<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jquery 🠮 No es recomendable su uso -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  -->
    
    <!-- bootstrap 🠮 Hace responsiva tu pagina web -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <title>Practica de NODEJS y HTML</title>
</head>
<body>
    <div style="margin: 24px;">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="/">Launch X</a>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/contacto">Contacto</a>
                    </li>
                    <li>
                        <a href="/perfil">Perfil</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron" style="padding: 40px;">
            <h1>Contacto</h1>
        </div>
    </div>
</body>
</html>